<a href="https://colab.research.google.com/github/Mofazzalhb/hello-world/blob/master/Churn_credit_card_data_analysis_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# upload churn.csv file from local drive by files> upload to session storage
#Letâ€™s start by reading the csv file into a pandas dataframe.
import numpy as np
import pandas as pd
# allocate data file to variable. Right click file name and copy path to paste in read funtion as argument
dfile= pd.read_csv('/content/churn.csv')

In [ ]:
dfile.shape # function to show no of rows and cols

(10000, 13)

In [ ]:
dfile.columns # shows col index names

Index(['CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age',
       'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
#1. Dropping columns: The drop function is used to drop columns and rows. We pass the labels of rows or columns to be dropped.
dfile.drop(['CustomerId', 'Surname', 'CreditScore'], axis=1, inplace=True) #The axis parameter is set as 1 to drop columns and 0 for rows.
dfile.shape # function to show no of rows and cols                      # The inplace parameter is set as True to save the changes.

(10000, 10)

In [ ]:
#2. Select particular columns while reading We can read only some of the columns from the csv file. The list of columns is passed to the usecols parameter while reading. 
#It is better than dropping later on if you know the column names beforehand.
dfile_spec=pd.read_csv('/content/churn.csv',usecols=['Gender','Age','Tenure','Balance'])
dfile_spec.head(10) # disply selcted col and top 10 rows

   Gender  Age  Tenure    Balance
0  Female   42       2       0.00
1  Female   41       1   83807.86
2  Female   42       8  159660.80
3  Female   39       1       0.00
4  Female   43       2  125510.82
5    Male   44       8  113755.78
6    Male   50       7       0.00
7  Female   29       4  115046.74
8    Male   44       4  142051.07
9    Male   27       2  134603.88

In [ ]:
#3. Reading a part of the dataframe The read_csv function allows reading a part of the dataframe in terms of the rows. There are two options. 
#The first one is to read the first n number of rows.
df_partial=pd.read_csv('/content/churn.csv', nrows=5000)
df_partial.shape
#We can also select rows from the end of the file by using the skiprows parameter. Skiprows=5000 means that we will skip the first 5000 rows while reading the csv file.

(5000, 13)

In [ ]:
#4. Sample After creating a dataframe, we may want to draw a small sample to work.
# We can either use the n parameter or frac parameter to determine the sample size. frac= sample size/dataframe size
dfile_sample=dfile.sample(n=1000)
dfile_sample.shape # result showing 1k samples with 10% of df

(1000, 10)

In [ ]:
dfile_sample2=dfile.sample(frac=.1)     # use of fraction as another way
dfile_sample2.shape

(1000, 10)

In [27]:
#5. Checking the missing values The isna function determines the missing values in a dataframe
dfile.isna().sum()

Geography           0
Gender              0
Age                 0
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary    44
Exited              0
dtype: int64

In [28]:
#6. Filling missing values The fillna function is used to fill the missing values. It provides many options. 
#We can use a specific value, an aggregate function (e.g. mean), or the previous or next value.
dfile['Geography'].value_counts()

France     5050
Germany    2492
Spain      2458
Name: Geography, dtype: int64

In [29]:
# replace with mode, most common value of catagory data col
mode=dfile['Geography'].value_counts().index[0]
dfile['Geography'].fillna(value=mode,inplace=True)
dfile['Geography'].value_counts() # filled with France below ( 5050-4973)=77 extra missing geography

France     5050
Germany    2492
Spain      2458
Name: Geography, dtype: int64

In [30]:
dfile['Gender'].value_counts()

Male      5421
Female    4579
Name: Gender, dtype: int64

In [31]:
# replace with mode, most common value of catagory data col
mode=dfile['Gender'].value_counts().index[1]
dfile['Gender'].fillna(value=mode,inplace=True)
dfile['Gender'].value_counts()

Male      5421
Female    4579
Name: Gender, dtype: int64

In [36]:
# avg for salery
Avgsal=dfile['EstimatedSalary'].mean()
dfile['EstimatedSalary'].fillna(value=Avgsal,inplace=True)

In [38]:
# Re checking the missing values The isna function determines the missing values in a dataframe. Use filna fuction to replace missing value
dfile.isna().sum()

Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64